<p>
    <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>
<p>
    <input #query type="text" class="form-control" (keyup)="filter(query.value)" placeholder="Search ...">
</p>

<data-table [items]="items" [itemCount]="itemCount" [title]="'Products'" [pagination]="true" (reload)="reload($event)">

    <data-table-column [property]="'title'" [header]="'Title'" [sortable]="true" [resizable]="true">

    </data-table-column>
    <data-table-column [property]="'price'" [header]="'Price'" [sortable]="true" [resizable]="true">
        <ng-template #dataTableCell let-item="item">
            {{item.price | currency:'INR':"symbol"}}
        </ng-template>
    </data-table-column>
    <data-table-column [property]="'_id'">
        <ng-template #dataTableCell let-item="item">
            <a [routerLink]="['/admin/products/', item._id]">Edit</a>
        </ng-template>
    </data-table-column>

</data-table>
<!-- 
<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of filteredProducts">
            <td>{{product.title}}</td>
            <td>{{product.price | currency:'INR':"symbol"}}</td>
            <td>
                <a [routerLink]="['/admin/products/', product._id]">Edit</a>
            </td>
        </tr>
    </tbody>
</table> -->