<div class="d-flex">
  <div class="category-container">
    <app-product-filter [category]="category"></app-product-filter>
  </div>
  <div class="products-container">
    <div class="card" style="width: 17rem; margin: 1rem;" *ngFor="let p of filteredProducts">
      <img class="card-img-top" style="height: 13rem;" [src]="p.url" alt="Product Image">
      <div class="card-body">
        <h5 class="card-title">{{p.title}}</h5>
        <p class="card-text">{{p.price | currency:'INR':'symbol'}}</p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary btn-block">Add to Cart</a>
      </div>
    </div>
  </div>
</div>
